<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Genres</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Genres</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}">123</td>
        <td th:text="${genre.name}"> Spring in Action</td>

    </tr>

</table>

</body>
</html>